* { 
    margin: 0 ;
    box-sizing: border-box ;
    padding: 0 ;
}

html { 
    font : normal 16px sans-serif  ; 
    color : #555 ; 
}

nav { 
    list-style: none ;
}

a { 
    cursor: pointer ;
    text-decoration: none ; 
    opacity: 0.75 ; 
    color : #fff ; 
}

a:hover { 
    opacity: 1;
}

header { 
    z-index: 2;

    position: absolute ;
    width: 100% ;
    display: flex ; 
    justify-content: space-between ;
    align-items: center ; 
    padding: 35px 100px 0 ;
    animation: 1s fadein 0.5s forwards ;
    opacity: 0;
    color : #fff ; 
}
 @keyframes fadein { 
     100% { 
         opacity: 1 ;
     }
 }
header h2 { 
    font-family: "Quicksand" , sans-serif ;
}

header nav { 
    display: flex ; 
   margin-right: -15px ; 
   color : #fff ; 
}

header nav li { 
    margin: 0 15px ; 
}

a.btn { 
    border-radius: 47px 47px 47px 47px ;
    border-color: #ffffff ;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    text-transform: uppercase ;
    font-weight: bold ; 
    text-align: center ;
    background-color : #4286f4 ;
    opacity: 1;
transition-timing-function: ease ;
    transition-duration: 0.3s ; 
}

a.btn:hover {
    color : black ;
    background-color : white ;

}

section { 
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    padding: 100px 80px ;
}

.hero { 
    z-index: 1 ;
    color : #fff ;
    position: relative;
    text-align: center ; 
    justify-content: center ;
    min-height: 100vh;
}

.hero .background { 
    background-size: cover ; 
    position: absolute ; 
    top : 0 ; 
    left : 0 ; 
    height: 100%;
    width: 100% ;
    z-index: -1 ;
    background-image: url(../imgs/main.jpg); 
    background-color: #80a3db ;
}

.hero h1 { 
    font: bold 60px "Open Sans" , sans-serif ;
    margin-bottom: 15px ;
}

.hero h3 { 
    font: normal 28px "Open Sans" , sans-serif ;

    margin-bottom: 40px ;
}

.hero a.btn { 
    padding : 20px 46px ;
}

.content { 
z-index : 1 ;
    opacity: 0;
    margin-top: 100px ;
    animation: 1s slidefade 1s forwards ;
}

@keyframes slidefade { 
    100% { 
        margin-top: 0px ;
        opacity: 1;

    }
}

.grid { 
    display: flex ;
    justify-content: center ; 
    flex-wrap:  wrap ;
    width: 100% ;
}

hr { 
    width : 250px ; 
    height : 3px ;
    background-color: #3f51b5 ;
    border : 0 ;
    margin-bottom: 50px ;
}

section h3.title { 
    text-transform: capitalize ;
    font : bold 32px  "Open Sans" , sans-serif ; 
    margin-bottom: 30px ;  
    text-align: center ;
}

section p { 
    max-width: 775px ;
    line-height: 2 ;    
    padding: 0 20px ; 
    margin-bottom: 30px ;
    text-align: center ; 

}
 li { 
     list-style: none;
 }
.destinations .grid li { 
    list-style: none;
    height : 350px ;
    padding: 20px ;
    background-clip: content-box ;
    background-size: cover ;
    background-position: center ;
}

.destinations .grid li.small { 
    flex-basis: 30% ;
}
.destinations .grid li.large { 
    flex-basis: 70% ;
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.packages .grid li { 
    padding: 50px ; 
    flex-basis: 50% ;  
     text-align: center ;

}

.packages .grid li i { 
        color : #8c9eff ;
}

.packages .grid li h4 { 
    font-size : 30px ;
    margin: 25px 0 ;
}

.testimonials .quote { 
    font-size: 22px;
    font-weight: 300 ;
    line-height: 1.5 ;
    margin: 40px 0 25px ;
}

.contact form { 
    display: flex ;
    align-items: center ; 
    justify-content: center  ;
    flex-wrap: wrap ;
    width : 60% ;
}

.contact form .btn { 
    padding: 18px 42px ;
}

.contact form input { 
    padding: 15px ;
    margin-right: 30px;
    font-size: 18px ;
    color : #555 ;
    flex :1 ;
}

footer {
    display: flex ;
    align-items: center ;
    justify-content: space-around ;
    background-color: #607d8b ;
    color : #fff ; 
    padding: 20px 0 ;
}

footer ul {
    display: flex ;

}

footer ul li { 
    margin-left: 16px ;
}
footer p { 
    text-transform: uppercase ;
    font-size: 14px ;
    opacity: 0.6;
    align-self: center;
}

@media (max-width : 800px ) { 
    section { 
        padding: 50px 20px ;
    }

    header {
        padding: 20px 50px ;
        flex-direction: column ;
    }

    header h2 { 
        margin-bottom: 15px ;
    }

.hero h1 { 
    font-size: 48px ;
}
.hero { 
    min-height: 600px ;
}

.hero h3 { 
    font-size: 24px ;
}
.hero a.btn { 
    padding: 15px 40px ;   
}
}


@media (max-width : 1100px) { 
    .destinations .grid  li.small ,  .destinations .grid  li.large { 
        flex-basis: 50% ;
    }

}


@media (max-width : 800px) { 
    .destinations .grid  li.small ,  .destinations .grid  li.large { 
        flex-basis: 100% ;
    }

}

@media (max-width :1000px) {
    .contact form input {
        flex-basis : 100%;
        margin: 0 0 20px 0 ;
    }
}

@media (max-width : 1100px) { 
    footer { 
        flex-direction: column ;
    }

    footer p  {
        text-align: center ; 
        margin-bottom: 20px ;
    }

    footer ul li { 
        margin: 0 8px ;
    }
}

@media (max-width : 600px ) { 
.packages .grid li { 
padding : 0 ;
}
}
